


nav{
    
    background-color: black;
    color:white;
    display: flex;
    padding: 5px 20px;
    position: sticky !important;
    width: 100%;
    top:0;
    z-index: 2;
  
 
   
}

.navbar .navbar_img{
  width: 30%;
}

.navbar .navbar_title{
    width: 65%;
}

.navbar_img img{
    height: 40px;
  object-fit: cover;
  border-radius: 10px;
}