#sidebar{
    margin-top: 20px;
    height:70vh;
    border:3px solid red;
    padding:6px;
    
}
#main-content{
    margin-top: 20px;
    height: 70vh;
    padding: 6px;
    border:3px solid #808080;
    overflow-y: scroll;
    
    position: relative;
}
#mainpage{
    padding: 10px;
    position:fixed;
}
#title-name{
    text-align: center;
    margin-top: 17px;
    
}
